<mat-toolbar color="primary">
<button mat-icon-button (click)="myDrawer.toggle()">
    <mat-icon>menu</mat-icon>
</button>
<span class="spacer"></span>
<button mat-button routerLink="/admintemplate/home">Home</button>
<button mat-button routerLink="/admintemplate/profile">Profile</button>
<button mat-button [matMenuTriggerFor]="importMenu" *ngIf="auth.roles.includes('ADMIN')">
    Import <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
</button>
<mat-menu #importMenu>
    <button mat-menu-item routerLink="loadstudents">Load Students</button>
    <button mat-menu-item routerLink="loadpayments">Load Payments</button>
</mat-menu>
<button mat-button *ngIf="auth.isAuthenticated">{{auth.username}}</button>
<button mat-raised-button color="accent" (click)="logout()">Logout</button>
</mat-toolbar>

<mat-drawer-container>
    <mat-drawer #myDrawer opened="true" position="start" mode="side">
        <mat-list>
            <mat-list-item>
                <button mat-button routerLink="/admintemplate/dashBoard">
                    <mat-icon>dashbord</mat-icon>
                    DashBord
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/admintemplate/students">
                    <mat-icon>dashbord</mat-icon>
                    Students
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/admintemplate/payments">
                    <mat-icon>dashbord</mat-icon>
                    Payments
                </button>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="min-height: 800px;">
            <router-outlet>

            </router-outlet>
        </div>

    </mat-drawer-content>
</mat-drawer-container>
