<div class="container">
    <mat-card>
     <mat-card-header>
         <mat-card-title>Liste Payments</mat-card-title> 
     </mat-card-header>
     <mat-divider></mat-divider>
     <mat-card-content>
        Payments Liste content
     </mat-card-content>
    </mat-card>
 </div>