<div class="container">
    <mat-card>
     <mat-card-header>
         <mat-card-title>Students Title</mat-card-title> 
     </mat-card-header>
     <mat-divider></mat-divider>
     <mat-card-content>
        <mat-form-field appearance="outline">
            <mat-label>Filter</mat-label>
            <input matInput (change)="filtrerData($event)">
        </mat-form-field>
        <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z1">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Id Column -->
            <ng-container matColumnDef="id">
              <th mat-sort-header *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
          
            <!-- FirstName Column -->
            <ng-container matColumnDef="firstName">
              <th mat-sort-header mat-header-cell *matHeaderCellDef> First Name </th>
              <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>
          
            <!-- programId Column -->
            <ng-container matColumnDef="programId">
              <th mat-sort-header *matHeaderCellDef> Program </th>
              <td mat-cell *matCellDef="let element"> {{element.programId}} </td>
            </ng-container>

            <!-- Payments Column -->
            <ng-container matColumnDef="payments">
                <th mat-sort-header *matHeaderCellDef> Payments </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="primary" (click)="getPayments(element)">Payments</button>
                </td>
              </ng-container>
          
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[2,5,10,15,20,30,50]">

          </mat-paginator>
          
     </mat-card-content>
    </mat-card>
 </div>