<div class="container">
   <mat-card>
    <mat-card-header>
        <mat-card-title>Home Title</mat-card-title> 
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
       Home content
    </mat-card-content>
   </mat-card>
</div>