<div class="login-container">
    <mat-card [formGroup]="loginForm">
     <mat-card-header>
         <mat-card-title>Subscribe</mat-card-title> 
     </mat-card-header>

     <mat-divider></mat-divider>

     <mat-card-content>
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
     </mat-card-content>

     <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="login()">Login</button>
     </mat-card-actions>

    </mat-card>
 </div>